# ラベルを付けて、学習に使うデータセットを作成する

In [1]:
import yfinance as yf
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit
import numpy as np
import seaborn as sns
import pandas as pd
import sys
import stockpy as st
from datetime import datetime
from tqdm import tqdm

In [2]:
df = pd.read_csv('./train_dataset_by_time2.csv', header=0)

In [3]:
def process_data(data):
    try:
        data.pop()
        if ((0.02 < data[-1] - data[-2]) and (0.02 < data[-2] - data[-3])):        
            data.insert(0, 1)
        else:
            data.insert(0, 0)
        # リストをNumPy配列に変換
        data = np.array(data)
        return data
    except Exception as e:
        print("Error processing data")
        print(e)
        raise Exception

In [4]:
df3 = pd.DataFrame()
rows = []
for row in tqdm(df.itertuples(index=False)):
    row = process_data(list(row))
    rows.append(row)

df3 = pd.DataFrame(rows)

14760it [00:00, 21194.25it/s]

In [5]:
df3

,0,1,2,3,4,5,6,7,8,9,...,52,53,54,55,56,57,58,59,60,61
0,1,AACI,0,10.5600004196167,10.56999969482422,10.56999969482422,10.59000015258789,10.56999969482422,10.5,10.5600004196167,...,10.699999809265137,10.699999809265137,10.760000228881836,10.760000228881836,10.699999809265137,10.699000358581545,10.670000076293944,10.630000114440918,10.6899995803833,10.720000267028809
1,0,AADI,1,5.710000038146973,5.760000228881836,5.380000114440918,5.360000133514404,5.329999923706055,5.25,5.260000228881836,...,4.019999980926514,4.199999809265137,4.369999885559082,4.480000019073486,4.25,4.599999904632568,4.380000114440918,4.199999809265137,4.230000019073486,4.21999979019165
2,0,AAL,2,16.649999618530273,16.760000228881836,16.56999969482422,16.790000915527344,16.75,16.229999542236328,15.949999809265137,...,12.289999961853027,12.729999542236328,12.850000381469728,12.760000228881836,12.239999771118164,12.260000228881836,12.479999542236328,12.0600004196167,11.720000267028809,11.9399995803833
3,0,AAME,3,1.870000004768372,1.940000057220459,1.870000004768372,1.830000042915344,1.830000042915344,1.7699999809265137,1.7599999904632568,...,1.8799999952316284,1.830000042915344,1.830000042915344,1.809999942779541,1.75,1.809999942779541,1.820000052452088,1.8600000143051147,1.850000023841858,1.820000052452088
4,0,AAOI,4,8.430000305175781,7.949999809265137,6.190000057220459,6.710000038146973,6.75,7.03000020980835,7.389999866485596,...,10.31999969482422,8.90999984741211,9.119999885559082,9.079999923706056,7.585000038146973,7.460000038146973,7.789999961853027,7.949999809265137,7.550000190734863,7.650000095367432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14755,0,ZVRA,2947,4.880000114440918,4.900000095367432,4.809999942779541,4.840000152587891,4.820000171661377,4.860000133514404,5.199999809265137,...,4.619999885559082,4.75,4.769999980926514,4.559999942779541,4.46999979019165,4.460000038146973,4.53000020980835,4.369999885559082,4.369999885559082,4.210000038146973
14756,0,ZVSA,2948,0.1729999929666519,0.1700000017881393,0.1700000017881393,0.1599999964237213,0.1700000017881393,0.164000004529953,0.1609999984502792,...,0.1169999986886978,0.125,0.1379999965429306,0.1309999972581863,0.1299999952316284,0.1260000020265579,0.1220000013709068,0.1280000060796737,0.1280000060796737,0.125
14757,0,ZYME,2949,7.460000038146973,7.449999809265137,7.320000171661377,7.320000171661377,7.389999866485596,7.260000228881836,7.289999961853027,...,6.28000020980835,6.449999809265137,6.494999885559082,6.420000076293945,6.5,7.050000190734863,7.25,7.159999847412109,7.210000038146973,7.190000057220459
14758,0,ZYNE,2950,0.3650000095367431,0.3549999892711639,0.368800014257431,0.3519999980926513,0.3529999852180481,0.3420999944210052,0.3463000059127807,...,1.2699999809265137,1.2999999523162842,1.2999999523162842,1.2999999523162842,1.2999999523162842,nan,nan,nan,nan,nan
14759,0,ZYXI,2951,9.760000228881836,8.619999885559082,8.289999961853027,8.5,8.329999923706055,8.029999732971191,7.760000228881836,...,8.239999771118164,8.329999923706055,8.050000190734863,7.820000171661377,7.96999979019165,8.119999885559082,8.369999885559082,8.359999656677246,7.659999847412109,7.340000152587891

In [6]:
df3.to_csv('labeled_train_dataset2.csv', index=False)

In [7]:
# カテゴリごとのカウントを取得
value_counts = df3[0].value_counts()
# 最も少ないカウント数を取得
min_count = value_counts.min()
# 最も少ないカウント数のカテゴリを取得
min_count_categories = value_counts[value_counts == min_count].index
# フィルタリング
filtered_df_1 = df3[df3[0].isin(min_count_categories)]
# カテゴリごとのカウントを取得
value_counts = df3[0].value_counts()
# 最も少ないカウント数を取得
max_count = value_counts.max()
# 最も少ないカウント数のカテゴリを取得
max_count_categories = value_counts[value_counts == max_count].index
# フィルタリング
filtered_df_2 = df3[df3[0].isin(max_count_categories)][:min_count]
result = pd.concat([filtered_df_1, filtered_df_2], axis=0)

In [8]:
result[0].value_counts()

1    1790
0    1790
Name: 0, dtype: int64

In [20]:
result.to_csv('filtered_labeled_train_dataset2.csv', index=False)